<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tukang Sayur</title>
  <style>
    .container {
      margin: auto;
      margin-top: 100px;
      width: 80%;
      background-color: salmon;
      padding: 10px;
      border-radius: 10px;
    }
  </style>
</head>
<body>
  <%- include ('partials/navbar') %>
  <div class="container">
    <h1>Selamat Datang di Tukang Sayur</h1>
    <h3>Tempatnya belanja sayur</h3>
    <a href="/vegetables"><button>Lihat Sayur</button></a>
  </div>
</body>
</html>