<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <style>
    .container {
      width: 500px;
      background-color: salmon;
      padding: 10px;
      margin: auto;
      border-radius: 10px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container">
  <h1>Register</h1>
  <hr>
  <form action="/register" method="POST">
    <div>
      <label for="username">Username:</label><br>
      <input type="text" name="username" id="username">
    </div>
    <div>
      <label for="password">Password:</label><br>
      <input type="password" name="password" id="password">
    </div>
    <br><br>
    <input type="submit" value="register">
  </form>
  <a href="/login"><p>Sudah daftar? Klik untuk login</p></a>
  </div>
</body>
</html>